* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}


/* 页头 */

.zhiyeTop {
    width: 100%;
    height: 60px;
    color: white;
    position: fixed;
    top: 0px;
    background: rgba(116, 3, 3, .8);
    z-index: 100;
}

.topNext {
    width: 1024px;
    height: 60px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    z-index: 100;
}

.logo {
    float: left;
    margin-top: -5px;
    margin-left: 20px;
    padding-right: 25px;
    border-right: 1px solid lightgrey;
    z-index: 100;
}

li {
    float: left;
    line-height: 60px;
    list-style: none;
    width: 110px;
    height: 60px;
    margin-top: -17px;
    /* border: 1px solid rebeccapurple; */
    text-align: center;
    z-index: 100;
}

.li0 {
    margin-right: 220px;
    z-index: 100;
}


/* .list2 {
    width: 220px;
    height: 60px;
    border: 1px solid orangered;
    float: left;
    font-size: 12px !important;
} */

.li1 a,
.li2 a,
.li3 a {
    font-size: 14px !important;
}

.li1 {
    width: 60px;
    margin-right: 60px;
}

.li2,
.li3 {
    width: 30px;
    margin-right: 16px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    text-decoration: none;
    color: red;
    font-weight: 600;
    transform: scale(1.08);
}

.list ul li:hover {
    background: rgba(245, 245, 245, 0.2);
    animation: lichange 2s ease-in-out infinite;
}


/* .linechange {
    margin-top: -3px;
    width: 2px;
    height: 2px;
    background: beige;
    animation: lichange2 10s ease-in-out infinite;
}

@keyframes lichange2 {
    0% {
        display: block;
    }
    50% {
        display: inline-block;
        height: 2px;
        background: beige;
        width: 1100px;
    }
    100% {
        display: inline-block;
        background: salmon;
        height: 2px;
        width: 0px;
    }
} */

@keyframes lichange {
    0% {
        border-bottom: 2px solid purple;
    }
    25% {
        border-bottom: 2px solid rgb(121, 5, 11);
    }
    50% {
        border-bottom: 2px solid rgb(219, 9, 191);
    }
    75% {
        border-bottom: 2px solid rgb(179, 6, 179);
    }
    100% {
        border-bottom: 2px solid rgba(116, 3, 3, .8);
    }
}


/* 主体 */


/* .img0 {
    width: 300px;
    display: inline-block !important;
} */

.bgimg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -99;
}

#zhiyeAll {
    width: 100%;
    height: 100%;
    min-width: 1024px;
    min-height: 600px;
}

.zhiyeMid {
    width: 1024px;
    height: 300px;
    /* border: 2px solid black; */
    position: absolute;
    top: 20%;
    left: 20%;
}

.inputMsg {
    width: 600px;
    height: 52px;
    margin: 0 auto;
    margin-top: 10%;
    /* border: 1px solid white; */
    /* background: white; */
}

input {
    width: 520px;
    height: 52px;
    margin-right: -5px;
    font-size: 16px;
    color: #888;
    line-height: 20px;
    outline: none;
    border: none;
    background: white;
    padding: 0 !important;
}

.chaxun img {
    width: 56px;
    height: 52px;
    font-size: 0px;
    letter-spacing: 0px;
    margin-top: -4px;
    display: inline-block;
    background: rgb(27, 156, 241);
    border: none;
    outline: none;
}

.keyword {
    width: 580px;
    height: 200px;
    margin: 0 auto;
    /* border: 2px solid black; */
}

.keyword li {
    /* float: left; */
    width: 80px !important;
    margin-right: -12px !important;
    text-align: center;
}

.keyword li a {
    font-size: 14px !important;
    color: rgb(26, 25, 25);
    text-shadow: 0 0 2px white;
}


/* 页脚 */

#footer {
    width: 100%;
    background: rgb(214, 214, 214);
    opacity: 0.5;
    position: absolute;
    bottom: 0px;
}

#footer a {
    color: black !important;
    font-size: 14px !important;
}

.footerNext {
    width: 1024px;
    height: 125px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    /* border: 2px solid orangered; */
}

.footerLeft {
    float: left;
    width: 422px;
    height: 125px;
    /* border: 1px solid black; */
}

.footerNext .footerLeft {
    display: inline-block !important;
}

.footerList {
    letter-spacing: 0px;
    display: inline-block;
    position: relative;
    top: -5px;
    text-shadow: 0px 0px 3px #fff;
}

.more0 {
    position: absolute;
    top: 3%;
    right: 6%;
}

.more {
    position: absolute;
    top: 3%;
    right: 2%;
}


/* .footerLine {
    width: 1px;
    height: 100px;
    margin: 20px 20px 13px 0px;
    border-right: 2px solid rgb(236, 5, 5);
    display: inline-block;
} */

.footerLine {
    width: 2px;
    height: 100px;
    background: white;
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 9%;
}

.footerLine2 {
    width: 2px;
    height: 100px;
    margin: 12px 50px 13px 0px;
    background: white;
    display: inline-block;
}

.footerMid {
    padding-left: 6%;
}

#footer li {
    height: 23px;
    line-height: 23px;
    width: 188px;
    white-space: nowrap;
    padding-right: 20px;
    letter-spacing: 0px;
    margin-top: 2px;
    display: inline-block;
    text-align: left;
}

.footer2 {
    clear: both;
    text-align: center;
    font-size: 12px !important;
}

.beian {
    width: 20px;
    margin-bottom: 3px;
}

.erweima {
    position: absolute;
    width: 95px;
    top: 13%;
    right: 0%;
}