    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    /* 清除浮动 */
    
    .clear:after {
        content: "";
        display: block;
        clear: both;
    }
    /* 解决外边距 */
    
    .overflow:before {
        content: "";
        display: table;
    }
    
    div {
        display: block;
    }
    
    #firstDiv {
        position: relative;
    }
    /* 页头 */
    
    .myNav {
        width: 100%;
        height: 3em;
        background: white;
        border-bottom: 1px solid transparent;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
        position: fixed;
        z-index: 10;
    }
    
    .navHeader {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        z-index: inherit;
    }
    
    .navPic {
        float: left;
        width: 5em;
        height: 100%;
    }
    
    .navPic>img {
        display: inline-block;
        margin-top: 10px;
        margin-left: 6em;
        width: 72px;
        height: 25px;
        margin-top: 18px;
    }
    
    .navList {
        height: 100%;
        text-align: center;
        line-height: 3em;
        margin-right: 10em;
    }
    
    .navList>li {
        height: 100%;
        line-height: 2em;
        display: inline-block;
        list-style: none;
        transition: all 1s;
    }
    
    .navList li a {
        padding: 10px 10px;
        line-height: 3em;
        color: #555;
        transition: all 1s;
    }
    
    ul {
        list-style: none;
        margin-top: -7px;
    }
    
    .dropCss {
        display: flex;
        justify-content: center;
    }
    
    .dropCss>li {
        margin: 0 2%;
    }
    
    .drop>li {
        opacity: 0;
        transform-origin: top center;
        margin: -5px;
    }
    
    .drop li a {
        margin: -23px;
    }
    
    .drop li a,
    a {
        text-decoration: none;
        display: block;
        font-size: 14px;
    }
    /* ------------------纯css菜单，后期考虑改用jq------------------ */
    
    .drop-down {
        position: relative;
    }
    
    .drop-down-content {
        padding: 0;
        display: none;
        position: absolute;
    }
    
    .drop-down-content li {
        height: 30px;
    }
    
    .nav .drop-down:hover .drop-down-content {
        display: block !important;
        width: 80px;
        height: 120px;
        background: white !important;
        box-shadow: 0 0 3px 0;
        border-radius: 5px;
    }
    /* css动画 */
    
    @keyframes menu {
        0% {
            opacity: 0;
            transform: scale(0.6);
        }
        50% {
            opacity: 0.5;
            transform: scale(1.2);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
    
    .dropCss {
        letter-spacing: 1px;
    }
    
    .navList li a:hover {
        text-decoration: none;
        color: red;
        font-weight: 800 !important;
    }
    /* 主体 */
    
    .recommend {
        position: relative !important;
    }
    
    .w1120 {
        width: 1120px;
        margin: 0 auto;
        height: 2000px;
        /* border: 1px solid red; */
        position: relative;
    }
    
    .navListTwo {
        width: 1120px;
        position: absolute;
        top: 3.2em;
        margin: 0 auto !important;
        border-bottom: 1px solid transparent;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    }
    
    .listNext {
        width: 1120px;
        /* padding-left: 50px; */
        /* margin: 0 auto; */
    }
    
    .navListTwo a {
        /* float: left; */
        display: inline-block;
        width: 76px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #555;
        /* border: 1px solid black; */
    }
    
    a:hover {
        text-decoration: none;
        color: red;
    }
    /* 主体详情页 */
    
    .bodyAll {
        position: relative !important;
        width: 100%;
    }
    
    .w850 {
        position: relative;
        top: 66px;
        width: 850px;
        margin: 0 auto;
        /* border: 1px dashed red; */
    }
    
    .w500 {
        position: relative;
        width: 500px;
        /* border: 1px solid orangered; */
    }
    
    .h500 ul li {
        top: 100px;
        width: 500px;
        height: 500px;
        text-align: center;
        /* border: 1px dashed black !important; */
        background: rgba(146, 146, 146, 0.03);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    }
    
    .ban2 {
        width: 500px;
        height: 500px;
        position: relative;
        overflow: hidden;
    }
    
    .ban2 ul {
        position: absolute;
        left: 0;
        top: 0;
    }
    
    #prev1,
    #next1 {
        display: block !important;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 230px;
        left: 10px;
        cursor: pointer;
        z-index: 9;
    }
    
    #next1 {
        left: 450px !important;
    }
    
    #prev_btn1,
    #next_btn1 {
        display: block !important;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 515px;
        left: 10px;
        opacity: .6;
        cursor: pointer;
    }
    
    #next_btn1 {
        left: 460px;
    }
    
    .h500 ul li img {
        height: 500px;
        /* display: none !important; */
        cursor: pointer;
    }
    
    .w400 {
        width: 400px;
        height: 40px;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }
    
    .w400 img {
        /* height: 40px;
    width: 40px; */
        width: 40px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
    }
    /* 小图片 */
    
    .min_pic ul li {
        float: left;
        height: 40px;
        width: 40px;
        margin-top: 6px;
        margin-left: 4px;
    }
    /* #pic1 {
    display: inline-block !important;
} */
    /* 标签 */
    
    .tips {
        height: 20px;
        width: 400px;
        padding-left: 2px;
    }
    
    .tips>a {
        display: inline-block;
        color: lightslategrey;
        width: 52px;
        height: 25px;
        margin: 16px 5px;
        line-height: 24px;
        text-align: center;
        border: 1px solid lightslategray;
        border-radius: 20px;
    }
    
    .tips>a:hover {
        color: red;
        border-color: red;
    }
    /* blog内容 */
    
    .blog {
        margin-top: 40px;
        /* padding-left: 5px;
    padding-right: 5px; */
        width: 500px;
        font-size: 14px;
        color: #555;
    }
    
    .blog>a {
        display: inline-block;
        letter-spacing: 1px;
        color: #09a7e6;
        font-weight: 300;
    }
    
    .blog a img {
        width: 14px;
        height: 14px;
        margin-right: 3px;
        margin-bottom: 2px;
        color: #555;
    }
    /* 点赞 */
    
    .heartAnimation {
        display: inline-block;
        -webkit-animation-name: heartBlast;
        animation-name: heartBlast;
        -webkit-animation-duration: .8s;
        animation-duration: .8s;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-timing-function: steps(28);
        animation-timing-function: steps(28);
        background-position: right;
    }
    
    .tip2 {
        position: relative;
        /* float: right; */
    }
    
    .date {
        float: left;
        width: 230px;
        height: 23px;
        /* border: 1px solid red; */
        cursor: pointer;
        margin-top: 12px;
        font-size: 14px;
        color: lightslategray;
        /* border: none !important; */
    }
    
    .zan,
    .weixin,
    .start {
        position: absolute;
        width: 70px;
        height: 23px;
        /* border: 1px solid red; */
        cursor: pointer;
        top: 12px;
        left: 280px;
        /* border: none !important; */
        background: url(../img/heart.png) no-repeat;
    }
    
    .heart {
        height: 23px;
        width: 23px;
        position: absolute;
    }
    
    .weixin {
        /* height: 23px;
    width: 70px;
    position: absolute; */
        left: 350px;
        background: url(../img/weixin-line23.png) no-repeat;
    }
    
    .start {
        /* height: 23px;
    width: 70px;
    position: absolute; */
        left: 420px;
        background: url(../img/shoucang23.png) no-repeat;
    }
    
    .sum {
        margin-left: 30px;
        line-height: 23px;
        color: lightslategray;
    }
    /* 我的推荐 */
    
    .myRecom {
        position: relative;
        width: 490px;
        height: 50px;
        border-radius: 38px;
        top: 56px;
        border: 1px solid rgb(211, 211, 211);
    }
    
    .myRecom a img:first-child {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        top: 10px;
        left: 10px !important;
    }
    
    .myRecom a:nth-child(2) {
        position: absolute;
        line-height: 50px;
        left: 50px;
        color: black;
    }
    
    .myRecom span {
        position: absolute;
        left: 150px;
        top: 13px;
        display: inline-block;
        width: 3px;
        height: 22px;
        border-radius: 3px;
        background: rgb(212, 214, 216);
    }
    
    .myRecom a:nth-child(4) {
        display: inline-block;
        line-height: 50px;
        position: absolute;
        left: 180px;
        color: lightslategray;
    }
    
    .myRecom a:nth-child(5) {
        position: absolute;
        left: 360px;
    }
    
    .myRecom a:nth-child(6) {
        position: absolute;
        left: 400px;
    }
    
    .myRecom a:nth-child(7) {
        position: absolute;
        left: 440px;
    }
    
    .weixin20>img {
        width: 24px !important;
        height: 24px !important;
        position: absolute;
        top: 13px !important;
    }
    
    .node {
        width: 500px;
        height: 30px;
        /* border: 1px solid salmon; */
        /* padding: 0 5px; */
        position: relative;
        top: 70px;
    }
    
    .node span:first-child {
        position: absolute;
        display: inline-block;
        width: 5px;
        height: 18px;
        top: 6px;
        background: red;
    }
    
    .node span:last-child {
        position: absolute;
        display: inline-block;
        line-height: 30px;
        left: 30px;
        font-weight: 500;
    }
    
    .msgAll {
        width: 500px;
        height: 1000px;
        margin-top: 80px;
        /* border: 1px solid saddlebrown; */
    }
    
    .msg1,
    .msg2 {
        width: 500px;
    }
    
    .msg1_1 img,
    .msg2_1 img {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        margin-left: 0 !important;
        float: left;
        display: block;
    }
    
    .msg1_1>div,
    .msg2_1>div {
        height: 42px;
        width: 420px;
        float: left;
        padding-left: 15px;
        /* border: 1px solid saddlebrown; */
        background: url(../img/bang23.png) no-repeat !important;
        background-position: 99% !important;
    }
    
    .msg1_1 div>a,
    .msg2_1 div>a {
        display: block;
        width: 100px;
        height: 20px;
        margin-bottom: 5px;
        color: black;
        font-size: 16px;
        /* border: 1px solid saddlebrown; */
    }
    
    .msg1_1 div>span,
    .msg2_1 div>span {
        display: block;
        font-size: 10px;
        color: rgb(175, 172, 172);
        font-weight: 300;
        height: 20px;
        width: 130px;
        /* border: 1px solid saddlebrown; */
    }
    
    .msgAll a:last-child {
        display: block !important;
        text-align: center;
    }
    
    h6 {
        color: lightslategray;
        height: 42px;
        width: 30px;
        float: left;
        line-height: 42px;
    }
    
    .bbs,
    .bbsAns {
        width: 445px;
        margin-left: 55px;
        font-size: 14px;
        color: rgb(101, 102, 102);
    }
    
    .bbsAns {
        padding-left: 5px;
        background: rgb(248, 248, 248);
        margin-top: 16px;
    }
    
    .bbsAns>span:first-child {
        font-size: 15px;
        color: rgb(32, 31, 31);
    }
    
    .uline {
        width: 500px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(226, 226, 226);
    }
    /* 右侧信息栏 */
    
    .w320 {
        position: absolute;
        top: 0px;
        left: 530px;
        width: 320px;
        /* border: 1px solid rgb(226, 226, 226); */
        height: 1000px;
    }
    
    .h176 {
        width: 320px;
        height: 176px;
        border: 1px solid rgb(226, 226, 226);
        border-radius: 5px;
    }
    
    .h176Top {
        width: 318px;
        height: 46px;
        font-size: 16px;
        font-weight: 500;
        line-height: 46px;
        padding-left: 20px;
        border-bottom: 1px solid rgb(226, 226, 226);
    }
    
    .h176Mid {
        position: relative;
        width: 280px;
        height: 70px;
        margin: 0 auto;
        padding-top: 10px;
        border-bottom: 1px solid rgb(226, 226, 226);
    }
    
    .h176Mid div a img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .h176Mid div h6 {
        position: absolute;
        top: 2px;
        left: 60px;
        color: black;
    }
    
    .h176Mid div h6 img {
        position: absolute;
        top: 10px;
        left: 60px;
    }
    
    .h176Mid div p {
        position: absolute;
        top: 38px;
        left: 60px;
        font-size: 14px;
        color: rgb(177, 177, 177);
        font-weight: 300;
    }
    
    .h176Bot {
        width: 280px;
        margin: 0 auto;
        margin-top: 8px;
        /* border: 1px solid rgb(226, 226, 226); */
    }
    
    .h176Bot div span {
        width: 86px;
        height: 20px;
        font-size: 14px;
        color: rgb(177, 177, 177);
        display: block;
        line-height: 20px;
        /* border: 1px solid rgb(226, 226, 226); */
    }
    
    .h176Bot div span:last-child {
        color: black;
    }
    /* .h176Bot div:first-child {
    float: left;
    margin-left: 0px;
} */
    
    .h176Bot div:nth-child(2) {
        float: left;
        margin-left: 93px;
        margin-top: -40px;
    }
    
    .h176Bot div:nth-child(3) {
        float: left;
        margin-left: 186px;
        margin-top: -40px;
    }
    
    .h455 {
        width: 320px;
        height: 455px;
        margin-top: 20px;
        border: 1px solid rgb(226, 226, 226);
        border-radius: 5px;
    }
    
    .h455Mid {
        position: relative;
        width: 280px;
        height: 370px;
        margin: 0 auto;
        border-bottom: 1px solid rgb(226, 226, 226);
    }
    
    .h455 a:last-child {
        font-size: 14px;
        color: rgb(105, 105, 105);
        text-align: center;
        line-height: 38px;
    }
    
    .h455Mid>div {
        margin: 10px 0;
        position: relative;
        /* border: 1px solid rgb(226, 226, 226); */
    }
    
    .h455Mid div a {
        display: block;
    }
    
    .h455Mid div a img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        margin-left: 0px;
        position: relative;
    }
    
    .h455Mid div div {
        width: 190px;
        height: 80px;
        /* border: 1px solid rgb(226, 226, 226); */
        position: absolute;
        top: 0;
        left: 90px;
    }
    
    .h455Mid div div a:first-child {
        display: block;
        width: 190px;
        height: 38px;
        font-size: 14px;
        /* color: rgba(100, 100, 100, .8); */
        line-height: 18px;
        overflow: hidden;
        padding-top: 2px;
        color: rgb(138, 138, 138);
    }
    
    .h455Mid div div a:first-child:hover {
        color: red;
    }
    
    .h455Mid div div div {
        width: 190px;
        height: 40px;
        position: absolute;
        left: 0px;
        top: 40px;
        /* border: 1px solid rgb(226, 226, 226); */
        background: url(../img/heart.png) no-repeat left bottom;
        cursor: pointer;
    }
    
    .h455Mid div div div span {
        color: rgb(138, 138, 138);
        display: inline-block;
        position: relative;
        top: 18px;
        left: 30px;
    }
    /* 返回顶部 */
    
    .erweima img,
    .frag img {
        position: fixed;
        right: 1rem;
        bottom: 4.5rem;
        height: 33px;
        width: 33px;
        border-radius: 5px;
        cursor: pointer;
        /* background: lightgray; */
    }
    
    .frag img {
        bottom: 2rem;
        display: none;
    }
    
    .fixedMsg {
        position: fixed;
    }
    /* 右下角扫描微信加如小红书 */
    
    #wxImg img {
        width: 150px;
        height: 150px;
    }
    
    #wxImg {
        display: none;
        position: fixed;
        bottom: 1.5rem;
        right: 3rem;
    }
    
    #joinXhs {
        position: fixed;
        left: 50% !important;
        top: 50% !important;
        margin-top: -135px;
        margin-left: -140px;
        width: 280px;
        height: 270px;
        border: 1px solid rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        background: white;
        z-index: 999;
    }
    
    #joinXhs img:first-child {
        width: 100px;
        height: 105px;
        position: absolute;
        top: -106px;
        left: 95px;
        /* position: absolute; */
    }
    
    #joinXhs img:nth-child(2) {
        width: 130px;
        height: 130px;
        margin-top: 15px;
        margin-bottom: 25px;
        margin-left: 75px !important;
    }
    
    #joinXhs {
        display: none;
        position: fixed;
        bottom: 300px;
        left: 300px;
    }
    
    #joinXhs p {
        font-size: 14px;
        color: rgb(143, 144, 145);
        line-height: 10px;
        text-align: center;
    }
    
    #joinXhs span {
        font-size: 14px;
        color: red;
        line-height: 10px;
        display: block;
        text-align: center !important;
    }
    
    .moreLook {
        margin-left: 236px;
    }